<div class="template-cart ajax-popup">
      <div id="add-to-cart" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="add-to-cart-close close">&times;</span>
          <strong class="title">Added To Bag</strong>
          <div id="p-float" class="free-gifts">
            <div class="p-float">
              <div class="p-float-in">
                <img class="p-img" src=""/>
                <div class="Alert--error"></div>
              </div>
            </div>
            <div class="p-float p-float-buttons">
              <div class="product_data">
                <div class="p-name"></div>
                <div class="product_qty_price">
                  QTY. <span id="added-qty"> X </span> @ <span id="added-price">$PRICE</span> AUD
                </div>
              </div>
              <div class="p-float-in">
                <a class="continue_shopping continue ProductForm__AddToCart Button Button--primary Button--full button" href="javascript:void(0)" onclick="jQuery('.add-to-cart-close').trigger('click');">Continue Shopping</a>
                <a href="/cart" class="view_cart ProductForm__AddToCart Button Button--primary Button--full button">View Bag</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

<style>
  .template-cart .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 15%;
    width: 100%;
    height: 100%;
}
  .ajax-popup .modal-content {
    position: relative;
    padding: 15px 20px 20px;
    max-width: 1200px;
    box-shadow: 0 15px 45px -14px #000000bf;
}
  .template-cart .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  .ajax-popup .close {
    background: #000;
    width: 30px;
    position: absolute;
    right: 20px;
    font-size: 20px;
}
  .close:hover, .close:focus {
    color: #d4c9c9;
    text-decoration: none;
    cursor: pointer;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
}
  .ajax-popup .modal-content strong.title {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    color: #000;
    position: relative;
    top: 3px;
}
  .template-cart #p-float {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.ajax-popup .free-gifts {
    margin-top: 15px!important;
    margin-bottom: 35px!important;
}

.template-cart div.p-float {
    float: left;
    width: 50%;
}
  .ajax-popup div.p-float-in {
    border: none!important;
}
.template-cart div.p-float-in {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #f2dcdc;
    background: #fff;
}
  .template-cart img.p-img {
    height: 200px;
    margin: 0 auto;
    display: block;
}
.ajax-popup .p-img {
    border: 2px solid #e6d9d9;
    height: 250px!important;
    width: 250px;
    object-fit: contain;
}
  .Alert--error, #shopify-product-reviews .spr-form-message-error {
    background: #e4c4c4;
    color: #cb2b2b;
}
  .ajax-popup .free-gifts .p-float-buttons {
    width: 60%;
    padding-top: 50px;
}
.ajax-popup .free-gifts .p-float {
    width: 40%;
}
.template-cart div.p-float {
    float: left;
    width: 50%;
}
  .ajax-popup .free-gifts .p-float-buttons .product_data {
    width: 90%;
    margin: 0 auto 0 0;
}
.ajax-popup .product_data {
    font-size: 17px;
}
  .ajax-popup .product_data .p-name {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}
.ajax-popup div.p-name {
    padding-left: 40px;
    padding-right: 40px;
}
.template-cart div.p-name {
    font-weight: 700;
    text-align: center;
}
  .ajax-popup .product_data .product_qty_price {
    font-weight: 700;
}
  .ajax-popup .product_data .product_qty_price span {
    color: #d4c58f;
}
  .ajax-popup .free-gifts .p-float-buttons .p-float-in {
    float: left;
    width: 90%;
    margin: 45px auto 5px;
}
.ajax-popup div.p-float-in {
    border: none!important;
}
.template-cart div.p-float-in {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #f2dcdc;
    background: #fff;
}
  .ajax-popup div.p-float-in a {
    margin-top: 20px;
}
.ajax-popup div.p-float-in a {
    float: left;
    width: 48%;
    margin: 0 1%;
    padding: 10px 28px;
}
  .ajax-popup div.p-float-in a {
    margin-top: 20px;
}
.ajax-popup div.p-float-in a {
    float: left;
    width: 48%;
    margin: 0 1%;
    padding: 10px 28px;
}
  .template-cart #p-float:after {
    content: "";
    clear: both;
    display: table;
}
  
  @media only screen and (max-width: 767px){
.template-cart.ajax-popup .modal {
    top: 10%;
}
  }
  @media only screen and (min-width: 769px) and (max-width: 991px){
.ajax-popup .modal {
    top: 5%;
}}
</style>
<script>
  
  // Get all elements with the class 'custom-ajax-cart-pop-up'
    const buttons = document.querySelectorAll(".custom-ajax-cart-pop-up");

  // close pop-up event
    const close = document.querySelectorAll(".add-to-cart-close");
      close[0].addEventListener("click",closePopUp);

  
  // Attach the click event listener to each button
    buttons.forEach(button => {
      button.addEventListener("click", addtocartajax);
    });

function addtocartajax(button){
      
    const Current_Button = button.target;
    Current_Button.textContent = "ADDING...";
    const variantId = Current_Button.getAttribute("variant-id");
  
    // Here, 'variantId' will contain the value of the 'variant-id' attribute from the clicked button.
    // You can now use 'variantId' in your AJAX request to the "Add to Cart" API.
  
    // Example AJAX request using Fetch API:
      fetch("/cart/add.js", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ id:variantId,qty:1 }),
      })
        .then(response => response.json())
        .then(data => {
          Current_Button.textContent = "ADD TO BAG";
          // Handle the response from the API as needed
              const imgElement = document.querySelector(".p-img");
              const nameElement = document.querySelector(".p-name");
              const qtyElement = document.querySelector("#added-qty");
              const priceElement = document.querySelector("#added-price");
        
              imgElement.src = data.image; // Update the image source
              nameElement.textContent = data.product_title; // Update the product name
              qtyElement.textContent = 1 // Update the quantity
              priceElement.textContent = data.price; // Update the price
    
          // Show the modal
          const modal1 = document.getElementsByClassName("template-cart");
          const modal = document.getElementById("add-to-cart");
          modal.style.display = "block";
          modal1[0].style.display = "block";
          console.log("API response:", data);
        })
        .catch(error => {
          Current_Button.textContent = "ADD TO BAG";
          console.error("Error occurred:", error);
        });
}
  
  function closePopUp(){
      const modal1 = document.getElementsByClassName("template-cart");
      const modal = document.getElementById("add-to-cart");
      
      modal.style.display = "none";
      modal1[0].style.display = "none";
  }
  </script>