@media screen and (min-width: 641px)
.hidden-tablet-and-up {
    display: none!important;
}
/* css For breadcrumbs  */
.breadcrumb {
    margin: 5px 0 0 8px;
    display: block !important;
}

@media only screen and (min-width: 1024px){
.breadcrumb {
    margin: 20px 0 20px 20px!important;
}
}

/* css for page header title */
@media screen and (min-width: 641px){
.PageHeader {
    margin: 50px 0;
}}
.PageHeader {
    position: relative;
    margin: 35px 0;
}
.SectionHeader--center {
    text-align: center;
}
@media screen and (min-width: 1240px){
.Container {
    padding: 0 80px;
}}
@media screen and (min-width: 641px){
.Container {
    padding: 0 50px;
}}
.Container {
    margin: 0 auto;
    padding: 0 24px;
}
.SectionHeader__Heading.SectionHeader__Heading, .SectionHeader__SubHeading.SectionHeader__SubHeading {
    margin-top: -0.325em;
    text-transform:uppercase;
}
@media screen and (max-width: 640px){
.PageHeader .SectionHeader__Heading {
    margin-bottom: 10px;
}}
.PageHeader .SectionHeader__Heading, .PageHeader .SectionHeader__Description {
    margin-top: 0!important;
}
@media (min-width: 1025px){
.show-on-mobile {
    display: none;
}}
@media (min-width: 1281px){
.show-on-mobile {
    display: none;
}}
@media (min-width: 320px) and (max-width: 1024px){
.show-on-desktop {
    display: none!important;
}}
/* css for add to cart ajax pop-up */
 .template-cart .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 15%;
    width: 100%;
    height: 100%;
}
  .ajax-popup .modal-content {
    position: relative;
    padding: 15px 20px 20px;
    max-width: 1200px;
    box-shadow: 0 15px 45px -14px #000000bf;
}
  .template-cart .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  .ajax-popup .close {
    background: #000;
    width: 30px;
    position: absolute;
    right: 20px;
    font-size: 20px;
}
  .close:hover, .close:focus {
    color: #d4c9c9;
    text-decoration: none;
    cursor: pointer;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
}
  .ajax-popup .modal-content strong.title {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    color: #000;
    position: relative;
    top: 3px;
}
  .template-cart #p-float {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.ajax-popup .free-gifts {
    margin-top: 15px!important;
    margin-bottom: 35px!important;
}

.template-cart div.p-float {
    float: left;
    width: 50%;
}
  .ajax-popup div.p-float-in {
    border: none!important;
}
.template-cart div.p-float-in {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #f2dcdc;
    background: #fff;
}
  .template-cart img.p-img {
    height: 200px;
    margin: 0 auto;
    display: block;
}
.ajax-popup .p-img {
    border: 2px solid #e6d9d9;
    height: 250px!important;
    width: 250px;
    object-fit: contain;
}
  .Alert--error, #shopify-product-reviews .spr-form-message-error {
    background: #e4c4c4;
    color: #cb2b2b;
}
  .ajax-popup .free-gifts .p-float-buttons {
    width: 60%;
    padding-top: 50px;
}
.ajax-popup .free-gifts .p-float {
    width: 40%;
}
.template-cart div.p-float {
    float: left;
    width: 50%;
}
  .ajax-popup .free-gifts .p-float-buttons .product_data {
    width: 130%;
    margin: 0 auto 0 0;
}
.ajax-popup .product_data {
    font-size: 17px;
}
  .ajax-popup .product_data .p-name {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}
.ajax-popup div.p-name {
    padding-left: 40px;
    padding-right: 40px;
}
.template-cart div.p-name {
    font-weight: 700;
    text-align: center;
}
  .ajax-popup .product_data .product_qty_price {
    font-weight: 700;
}
  .ajax-popup .product_data .product_qty_price span {
    color: #d4c58f;
}
  .ajax-popup .free-gifts .p-float-buttons .p-float-in {
    float: left;
    width: 130%;
    margin: 45px auto 5px;
}
.ajax-popup div.p-float-in {
    border: none!important;
}
.template-cart div.p-float-in {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #f2dcdc;
    background: #fff;
}
  .ajax-popup div.p-float-in a {
    margin-top: 20px;
}
.ajax-popup div.p-float-in a {
    float: left;
    width: 48%;
    margin: 0 1%;
    padding: 10px 28px;
}
  .ajax-popup div.p-float-in a {
    margin-top: 20px;
}
.ajax-popup div.p-float-in a {
    float: left;
    width: 48%;
    margin: 0 1%;
    padding: 10px 28px;
}
  .template-cart #p-float:after {
    content: "";
    clear: both; 
    display: table;
}
  @media only screen and (max-width: 767px){
  .template-cart.ajax-popup .modal {
      top: 10%;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 991px){
.ajax-popup .modal {
    top: 5%;
}}
  @media only screen and (min-width: 550px) and (max-width: 760px){
.ajax-popup .modal-content {
    max-height: 320px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}}
  @media only screen and (min-width: 550px) and (max-width: 600px){
.ajax-popup .modal-content {
    max-height: 275px;
}
}
@media only screen and (max-width: 767px){
.template-cart.ajax-popup .free-gifts {
    margin-bottom: 0!important;
}}
  @media only screen and (max-width: 767px){
.ajax-popup .free-gifts .p-float, .ajax-popup .free-gifts .p-float-buttons .product_data {
    width: 100%;
}}
  @media only screen and (max-width: 1024px){
.template-cart div.p-float {
    width: 50%;
}}
  @media only screen and (max-width: 600px){
div.p-float, .template-cart .modal-content {
    width: 100%!important;
}}
@media only screen and (max-width: 767px){
.ajax-popup .p-img {
    height: 185px!important;
    width: auto;
}}

@media only screen and (max-width: 767px){
.template-cart.ajax-popup .free-gifts .p-float-buttons {
    padding-top: 2px;
    width: 100%;
}}
  @media only screen and (max-width: 1024px){
.template-cart div.p-float {
    width: 50%;
}}
  @media only screen and (max-width: 600px){
div.p-float, .template-cart .modal-content {
    width: 100%!important;
}}
  @media only screen and (max-width: 767px){
.ajax-popup .free-gifts .p-float, .ajax-popup .free-gifts .p-float-buttons .product_data {
    width: 100%;
}}
@media only screen and (max-width: 1024px){
.ajax-popup .free-gifts .p-float-buttons .product_data {
    margin: 0 auto;
}}
  @media only screen and (max-width: 767px){
.template-cart.ajax-popup .product_data {
    font-size: 14px;
}}
  @media only screen and (min-width: 769px) and (max-width: 991px){
.ajax-popup .product_data .p-name {
    line-height: 26px;
}}
  @media only screen and (max-width: 767px){
.template-cart.ajax-popup .product_data .p-name {
    margin-bottom: 5px;
    font-size: 14px;
}}
  @media only screen and (max-width: 767px){
.ajax-popup div.p-name {
    padding-right: 10px;
    padding-left: 10px;
}}
  @media only screen and (max-width: 767px){
.ajax-popup .free-gifts .p-float-buttons .p-float-in {
    padding-left: 0;
}}
@media only screen and (max-width: 1024px){
.ajax-popup .free-gifts .p-float-buttons .p-float-in {
    margin: 5px auto;
}}
@media only screen and (max-width: 1024px){
.ajax-popup .free-gifts .p-float-buttons .p-float-in {
    width: 100%;
    padding-left: 15px;
    margin: 5px auto;
}}
  @media only screen and (min-width: 768px) and (max-width: 1024px){
.ajax-popup .free-gifts .p-float-buttons .p-float-in {
    padding-right: 5px;
}}
  @media only screen and (min-width: 426px) and (max-width: 640px){
.ajax-popup .ProductForm__AddToCart.Button.Button--primary.Button--full {
    padding: 4px;
    font-size: 11px;
}}
@media only screen and (max-width: 1024px){
.ajax-popup div.p-float-in a {
    width: 100%!important;
    margin: 20px auto 0!important;
}}
  
@media only screen and (min-width: 768px) and (max-width: 1024px){
.template-cart.ajax-popup .free-gifts .p-float-buttons {
    padding-top: 10px;
}
  .ajax-popup div.p-float-in a {
    width: 140%!important;
  }
}